<!DOCTYPE html>
<html lang="en"
	  ng-app="kiririn">
<%- include('_partials/head.ejs') %>
<body ng-controller="kana">
<%- include('_partials/header.ejs') %>

<div class="body-content container">
	<h1>Kana chart</h1>
	<span class="float-right">
		<button class="btn btn-primary"
				title="Switch system"
				ng-click="switchSystem()">あ/ア
		</button>
		<button class="btn btn-primary"
				title="Switch modifier"
				ng-click="switchModifier()">゛/゜
		</button>
	</span>
	<br/>
	<br/>
	<table class="table table-bordered">
		<tr ng-repeat="kanaRow in kana[currentSystem][currentModifier] track by $index">
			<th ng-if="::$parent.$first || $first"
				ng-repeat="kanaItem in kanaRow track by $index">{{kanaItem}}
			</th>
			<td ng-if="::!$parent.$first && !$first"
				ng-repeat="kanaItem in kanaRow track by $index"
				ng-class="{'text-muted': !kanaItem}">{{kanaItem || '〇'}}
			</td>
		</tr>
	</table>
</div>

<script id="kana"
		type="application/json">
{
	"hiragana": {
		"standard": [
			[null, null, "K", "S", "T", "N", "H", "M", "Y", "R", "W"],
			["A", "あ", "か", "さ", "た", "な", "は", "ま", "や", "ら", "わ"],
			["I", "い", "き", "し", "ち", "に", "ひ", "み", null, "り", null],
			["U", "う", "く", "す", "つ", "ぬ", "ふ", "む", "ゆ", "る", null],
			["E", "え", "け", "せ", "て", "ね", "へ", "め", null, "れ", null],
			["O", "お", "こ", "そ", "と", "の", "ほ", "も", "よ", "ろ", "を"]
		],
		"dakuten": [
			[null, null, "G", "Z", "D", null, "B", "P", null, null, null],
			["A", null, "が", "ざ", "だ", null, "ば", "ぱ", null, null, null],
			["I", null, "ぎ", "じ", "ぢ", null, "び", "ぴ", null, null, null],
			["U", null, "ぐ", "ず", "づ", null, "ぶ", "ぷ", null, null, null],
			["E", null, "げ", "ぜ", "で", null, "べ", "ぺ", null, null, null],
			["O", null, "ご", "ぞ", "ど", null, "ぼ", "ぽ", null, null, null]
		]
	},
	"katakana": {
		"standard": [
			[null, null, "K", "S", "T", "N", "H", "M", "Y", "R", "W"],
			["A", "ア", "カ", "サ", "タ", "ナ", "ハ", "マ", "ヤ", "ラ", "ワ"],
			["I", "イ", "シ", "し", "チ", "ニ", "ヒ", "ミ", null, "リ", "ヰ"],
			["U", "ウ", "ク", "ス", "ツ", "ヌ", "フ", "ム", "ユ", "ル", null],
			["E", "エ", "ケ", "セ", "テ", "ネ", "ヘ", "メ", null, "レ", "ヱ"],
			["O", "オ", "コ", "ソ", "ト", "ノ", "ホ", "モ", "ヨ", "ロ", "ヲ"]
		],
		"dakuten": [
			[null, null, "G", "Z", "D", null, "B", "P", null, null, null],
			["A", null, "ガ", "ザ", "ダ", null, "バ", "パ", null, null, null],
			["I", null, "ギ", "ジ", "ヂ", null, "ビ", "ピ", null, null, null],
			["U", null, "グ", "ズ", "ヅ", null, "ブ", "プ", null, null, null],
			["E", null, "ゲ", "ゼ", "デ", null, "ベ", "ペ", null, null, null],
			["O", null, "ゴ", "ゾ", "ド", null, "ボ", "ポ", null, null, null]
		]
	}
}
</script>

<%- include('_partials/footer.ejs') %>
<% locals.scripts = ['/scripts/kana.js']; %>
<%- include('_partials/scripts.ejs') %>
</body>
</html>
