<!DOCTYPE html>
<html lang="en"
	  ng-app="kiririn" >
<%- include('_partials/head.ejs') %>
<body ng-controller="packageTracking">
<%- include('_partials/header.ejs') %>

<div class="body-content container">
	<h1>PostNL international tracking</h1>
	<div class="row">
		<div class="col-sm card-padding">
			<div class="card card-body"
				 ng-class="{'border-primary': !isTracking}">
				<h3 class="card-title">Parcel info</h3>
				<form ng-submit="startTracking()">
					<div class="form-group">
						<label for="trackingCode">Tracking code</label>
						<input type="text"
							   class="form-control"
							   placeholder="Tracking code"
							   ng-init="trackingCode = '<%= trackingCode %>';"
							   ng-model="trackingCode"
							   ng-disabled="isTracking"
							   required/>
					</div>
					<div class="form-group">
						<label for="countryCode">Country code</label>
						<select class="form-control"
								ng-init="countryCode = '<%= countryCode || 'NL' %>';"
								ng-model="countryCode"
								ng-disabled="isTracking"
								required>
							<option value="" disabled>Please select</option>
							<% countries.forEach((country) => { %>
							<option value="<%= country.code %>"><%= country.name %></option>
							<% }); %>
						</select>
					</div>
					<div class="form-group">
						<label for="postalCode">Postal code</label>
						<input type="text"
							   class="form-control"
							   placeholder="Postal code"
							   ng-init="postalCode = '<%= postalCode %>';"
							   ng-model="postalCode"
							   ng-disabled="isTracking"
							   required/>
					</div>
					<button type="submit"
							class="btn"
							data-toggle="tooltip"
							title="Start tracking parcel"
							ng-init="init()"
							ng-class="{'btn-primary': !isTracking, 'btn-default': isTracking}"
							ng-disabled="isTracking">
						Track
					</button>
					<button type="button"
							class="btn"
							data-toggle="tooltip"
							title="Stop tracking parcel"
							ng-click="stopTracking()"
							ng-class="{'btn-danger': isTracking, 'btn-default': !isTracking}"
							ng-disabled="!isTracking">
						Stop
					</button>
				</form>
			</div>
		</div>
		<div class="col-sm card-padding">
			<div class="card card-body"
				 ng-class="isTracking ? 'border-' + trackingClass : ''">
				<h3 id="tracking-info"
					class="card-title">Tracking info</h3>
				<tracking-text now="lastCheck"
							   error="errorResponse"
							   is-tracking="isTracking"
							   tracking-class="trackingClass">Loading...</tracking-text>
				<package ng-if="isTracking && trackingClass === 'success'"
						 data="data"></package>
			</div>
		</div>
	</div>
</div>

<%- include('_partials/footer.ejs') %>

<% locals.scripts = ['/scripts/packageTracking.js']; %>
<%- include('_partials/scripts.ejs') %>
</body>
</html>
