<% if (Array.isArray(locals.route)) { %>
<ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="/">Home</a></li>
	<% locals.route.forEach((value, index) => {
	if (index === locals.route.length - 1) { %>
	<li class="breadcrumb-item active"><%= value.title %></li>
	<% } else { %>
	<li class="breadcrumb-item"><a href="<%- value.location %>"><%= value.title %></a></li>
	<% } }); %>
</ol>
<% } %>