<head>
	
	<%- include('meta.ejs') %>
	
	<%
	let titleString = 'Kiririn';
	if (Array.isArray(locals.route)) {
		locals.route.forEach((value) => {
			titleString = value.title + ' - ' + titleString;
		});
	}
	%>
	<title><%= titleString %></title>

	<%- include('styles.ejs') %>
	
</head>
